<hr>
<h1>Praktikum variable dan Tipe data</h1>

<hr>
<h3>Soal 1</h3>

Kiki belanja ke alf$$a Mùëér$t membeli 3 hepitos, 2 silperkuin, telor 2kg, beras 5kg, isi ulang akua galon seharga Rp 13.000. Harga hepitos yaitu Rp 15.000, telor Rp 13.000/kg, silperkuin Rp 21.000 beras kemasan 2.5kg seharga Rp 20.000. Toko tersebut memberikan discount 5%, ketika customer membeli makanan lebih dari 3 jenis. Berapakah total bayar belanjaan dari Kiki?

<hr>
<h2>Analyze Here</h2>

In [1]:
#Code here
a = hepitos = 15000 * 3
b = silperkuin = 21000 * 2 
c = telor = 13000 * 2
d = beras = 20000 * 2
e = isiUlangGalon = 13000 

Totalharga = a + b + c + d + e
diskon = Totalharga * 0.05
Total_setelah_diskon = Totalharga - diskon 
print("Totalbelanja = ", Totalharga)
print("Totaldiskon = ", diskon)
print("Total_setelah_diskon = ", Total_setelah_diskon)

Totalbelanja =  166000
Totaldiskon =  8300.0
Total_setelah_diskon =  157700.0

<hr>
<h2>Soal 2</h2>

Roni menabung pada bulan agustus yaitu setiap tanggal ganjil sejumlah Rp 50.000, setiap tanggal genap sejumlah RP 10.000 dan setiap tanggal kelipatan 5 sejumlah Rp 5.000, Berapakah total tabungan Roni diakhir bulan?

<hr>
<h2>Aanlyze Here</h2>

In [2]:
#Code here
total_hari = 31
total_tabung = 0 

tanggal = 1
while(tanggal <= total_hari): 
    
    if(tanggal % 5 == 0):
     total_tabung += 5000
    elif(tanggal % 2 != 0):
     total_tabung += 50000
    else:
     total_tabung += 10000
        
    tanggal += 1
    
print("total_tabung: ",total_tabung)

total_tabung:  800000

<hr>
<h2>Soal 3</h2>

<u1>Saat hari raya, Deni ingin menukarkan uang sejumlah Rp 5.000.000 ke pecahan 20rb, 10rb, 5rb, 2rb. berapa jumlahnya yang didapatkan Deni jika 20rb maksimal 100, 10rb maksimal 50.Jika :
    <li> 1.3(a)Semua pecahan harus ada</li>
    <li> 2.3(b)Hanya pecahan 20rb, 10rb dan 5rb</li>
    <li> 3.3(c)Hanya pecahan 20rb, 10rb dan 2rb</li>
</u1>

In [3]:
#Code here
rupiah_20 = 20_000 * 100
rupiah_10 = 10_000 * 50
rupiah_5 = 5000 * 400
rupiah_2 = 2000 * 250
jumlah_3_a = rupiah_20 + rupiah_10 + rupiah_5 + rupiah_2

print("semua pecahan ada")
print("100 lembar 20 rbu = ",rupiah_20)
print("50 lembar 10 rbu = ",rupiah_10)
print("400 lembar 5 rbu = ",rupiah_5)
print("250 lembar 2 rbu = ",rupiah_2)
print("totalnya adalah =",jumlah_3_a)

rupiah_5_2 = 5000 * 500
jumlah_3_b = rupiah_20 + rupiah_10 + rupiah_5_2
print("hanya pecahan 20rbu, 10rbu dan 5rbu")
print("100 lembar 20 rbu =",rupiah_20)
print("50 lembar 10 rbu =",rupiah_10)
print("500 lembar 5 rbu =",rupiah_5_2)
print("totalnya adalah =",jumlah_3_b)

rupiah_2_2 = 2000 * 1250
jumlah_3_c = rupiah_20 + rupiah_10 + rupiah_2_2
print("hanya pecahan 20rbu, 10rbu dan 2rbu")
print("100 lembar 20 rbu =",rupiah_20)
print("50 lembar 10 rbu =",rupiah_10)
print("1250 lembar 2 rbu =",rupiah_2_2)
print("totalnya adalah =",jumlah_3_c)

semua pecahan ada
100 lembar 20 rbu =  2000000
50 lembar 10 rbu =  500000
400 lembar 5 rbu =  2000000
250 lembar 2 rbu =  500000
totalnya adalah = 5000000
hanya pecahan 20rbu, 10rbu dan 5rbu
100 lembar 20 rbu = 2000000
50 lembar 10 rbu = 500000
500 lembar 5 rbu = 2500000
totalnya adalah = 5000000
hanya pecahan 20rbu, 10rbu dan 2rbu
100 lembar 20 rbu = 2000000
50 lembar 10 rbu = 500000
1250 lembar 2 rbu = 2500000
totalnya adalah = 5000000

<hr>
<h2>Soal 4</h2>

Berapakah hasil dari (10/23-6+4-(20//3%2)) ? Lakukan analisa perhitungan dari hasil tersebut! Berdasarkan hasil tersebut urutkan operator yang dikerjakan!

<hr>
<h2>Analyze Here</h2>

In [4]:
#Code here
hasil = (10/23-6+4-(20//3%2))
print("hasil dari (10/23-6+4-(20//3%2) =",hasil)
print("hasil analisa")


operator_bagi_kurang = 10/23-6 
operator_bagi_sisabagi = 4 - (20 // 3 % 2)
print("1. terdapat operator bagi dan kurang = 10/23-6 =",operator_bagi_kurang)
print("2. terdapat operator pembaian dibulatkan dan sisa bagi = 4 - (20 // 3 % 2) =",operator_bagi_sisabagi)
print("hasil setelah ditambahkan adalah =",operator_bagi_kurang + operator_bagi_sisabagi)

hasil dari (10/23-6+4-(20//3%2) = -1.5652173913043477
hasil analisa
1. terdapat operator bagi dan kurang = 10/23-6 = -5.565217391304348
2. terdapat operator pembaian dibulatkan dan sisa bagi = 4 - (20 // 3 % 2) = 4
hasil setelah ditambahkan adalah = -1.5652173913043477

<hr>
<h2>Soal 5</h2>

Jika terdapat string yaitu "UFLOPYXTKJACSWRBGQZVDMEHIN", maka susunlah nama kalian masing-masing dari data tersebut, berdasarkan index dari masing-masing huruf yang ada pada string tersebut!

<hr>
<h2>Analyze Here</h2>

In [29]:
huruf = "UFLOPYXTKJACSWRBGQZVDMEHIN"

print(huruf[7]+huruf[14]+huruf[22]+huruf[18]+huruf[10]+huruf[2]+huruf[0]+huruf[16]+huruf[24]+huruf[25]+huruf[10]+huruf[4]+huruf[10]+huruf[21]+huruf[0]+huruf[25]+huruf[16]+huruf[8]+huruf[10]+huruf[12])

TREZALUGINAPAMUNGKAS

In [30]:
print("tugas coding ipynb treza lugina pamungkas selesai")
print("tugas dasar pemrograman sesi 4")

tugas coding ipynb treza lugina pamungkas selesai
tugas dasar pemrograman sesi 4